* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: none;
}

.navContainer {
  background-color: #6d90c9;
  width: 100vw;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navList {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  font-size: 2.8rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: azure;
}

#navLogo {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: azure;
}

#navItems {
  display: flex;
  gap: 40px;
}

.footerBox {
  background-color: #6d90c9;
  width: 100%;
  color: azure;
}

.footerBox p {
  color: azure;
  font-size: 2rem;
  text-align: center;
  min-height: 40px;
}

main {
  background: #e1e8eb;
  background: linear-gradient(
    90deg,
    rgba(225, 232, 235, 1) 0%,
    rgba(197, 201, 199, 1) 50%,
    rgba(230, 230, 220, 1) 100%
  );
}

.contentBox {
  width: 70%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 100px;
}

.items {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightBox {
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear 0s;
}
.rightBox img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  transition: all 0.6s linear 0s;
}

.rightBox:hover {
  transform: scale(1.1);
}

.leftBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftBox h2 {
  font-size: 2rem;
}

.ingBox {
  font-size: 1.4rem;
}

.recBox {
  font-size: 1.4rem;
}

.rightBox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 65, 65, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.3s linear 0s;
}

.rightBox:hover .overlay{
  opacity: 1;
}

.rightBox .overlay span {
  color: white;
  font-size: 1.2rem;
}
